{% extends "_layouts/cp" %}

{% import '_includes/forms.twig' as forms %}

{% set title = "Weather Options" %}

{% block content %}

<form method="post" action="">
  {{ csrfInput() }}
  {{ forms.hidden({
    name: 'action',
    value: 'weather/settings/save-settings'
  })}}

  {{ forms.textField({
    first: true,
    label: 'Latitude',
    name: 'lat',
    required: true
  }) }}

  {{ forms.textField({
    label: 'Longitude',
    name: 'lon',
    required: true
  }) }}

  {{ forms.selectField({
    label: 'Unit of Measurement',
    name: 'units',
    options: {
      imperial: 'Imperial',
      metric: 'Metric'
    },
    required: true
  }) }}

  {{ forms.textField({
    label: 'Cache Duration',
    name: 'cache',
    type: 'number',
    min: 60,
    instructions: 'Time in seconds. 300 would save data for 5 minutes. Data will be cached for a minumum of 60 seconds.',
    required: true
  }) }}

  <input type="submit" class="submit btn" value="Save" />

</form>

{% endblock %}